.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;

    &__carouselBox {
        &__title h2 {
            font-size: 3.4rem;
            font-family: "Lalezar", cursive;
            text-align: center;
            padding: 4rem;

            @include respond(mobile) {
                // width: 0px;
                font-size: 1.4rem;
                padding: 1rem;
            }
        }

        h3 {
            @include respond (mobile) {
                font-size: 2.2rem;
            }
        }

        p {
            @include respond (mobile) {
                font-size: 1.2rem;
            }
        }
    }

    &__products {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;
        position: relative;

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;


            &__text {
                font-size: 2.4rem;
                font-weight: 100px;
                color: var(--dark);
                text-shadow: 1px 7px 11px #0000008a;
                font-family: 'Lalezar', cursive;

                &:before {
                    content: " ";
                    display: block;
                    height: 3px;
                    width: 32.2vw;
                    position: absolute;
                    top: 26px;
                    left: 0;
                    background: var(--official);
                    border-radius: 2px;

                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:after {
                    content: " ";
                    height: 3px;
                    width: 33.2vw;
                    background: var(--official);
                    display: block;
                    position: absolute;
                    top: 26px;
                    right: 0;
                    border-radius: 2px;

                    @include respond(mobile) {
                        display: none;
                    }
                }
            }
        }

        &__boxS {
            display: flex;
            flex-direction: row;
            // gap: 7.2rem;
            // justify-content: center;
            // align-items: center;
            text-align: center;
            width: 100%;
            height: 50vh;

            .swiper {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
            }

        }
    }

    &__MyFamily {
        position: relative;
        @extend .homePage__products__title__text;

        @include respond(mobile) {
            background-color: var(--secondary);
            border-radius: 1.2rem;
            padding: 1rem;
        }

        &__title__text {
            text-align: center;
        }

        &__contact {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            @include respond(mobile) {
                flex-direction: column;
            }

            &__text {
                width: 60%;
                display: flex;
                justify-content: center;
                text-align: justify;

                p {
                    font-family: 'Noto Naskh Arabic', serif;
                    font-size: 1.62rem;
                    text-shadow: 0px 0px !important;

                    @include respond(mobile) {
                        font-size: 1rem;
                        text-align: justify;
                    }
                }
            }
        }
    }

    &__Step {
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;

        @include respond(mobile) {
            height: 45vh;
        }

        &__box {
            background: linear-gradient(307deg, #fa7c30db 30%, rgb(165 109 109 / 22%) 30%);
            height: 80%;
            width: 70vw;
            border-radius: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            border-radius: 1.2rem;
            border: 1px solid rgba(126, 126, 126, 0.98);
            box-shadow: 1px 1px 14px 4px rgba(126, 126, 126, 0.98);

            @include respond(mobile) {
                position: static;
                width: 100%;
                justify-content: space-around;
            }


            &__title {
                position: absolute;
                top: -20px;
                // background-color: green;
                width: 70%;
                /* text-align: center; */
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(mobile) {
                    position: static;
                    width: fit-content;
                }

                p {
                    font-size: 3.4rem;
                    font-family: "Lalezar", cursive;
                    text-shadow: 1px 1px 3px #cb7436;

                    @include respond(mobile) {
                        font-size: 2.4rem;
                    }
                }
            }

            &__content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 3rem;

                @include respond(mobile) {
                    flex-direction: column-reverse;

                    div {
                        width: 90vw;
                    }
                }

                &__search {
                    // background-color: purple;
                    width: 50%;
                    height: 8vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    @include respond(mobile) {
                        display: block;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 1rem;
                    }

                    &__btn {
                        position: absolute;
                        left: 7px;

                        @include respond(mobile) {
                            position: static;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }


                        svg {
                            position: absolute;
                            top: 8px;
                            font-size: 2.4rem;
                            /* left: 69px; */
                            right: -47px;

                            @include respond(mobile) {
                                display: none;
                            }
                        }

                    }

                    input {
                        width: 85%;
                        height: 3.2rem;
                        border-radius: 1.2rem;
                        padding: 0.25rem 0.7rem;
                        outline: none;
                        font-size: 1.4rem;
                        color: black;
                        font-family: "Noto Naskh Arabic", serif;
                        background-color: #80808021;
                        border: none;
                        box-shadow: 5px 3px 9px 2px grey;

                        @include respond(mobile) {
                            width: fit-content;
                            font-size: medium;
                        }
                    }
                }

                &__text {
                    // background-color: yellow;
                    width: 40%;

                    p {
                        font-family: 'Noto Naskh Arabic', serif;
                        font-size: 1.2rem;
                        text-shadow: 0px 0px !important;
                        text-align: justify;
                        @include respond(mobile) {
                            font-size: 1rem;
                            text-align: justify;
                        }
                    }
                }


            }
        }



    }



}