.boxProductHomePage {
    background-color: var(--secondary);
    width: 15rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -1px -1px 8px 3px #a19d9d94;
    /* gap: 1.2rem; */
    border-radius: 1.2rem;
    transition: all .2s ease-in-out;

    &:hover{
        transform: scale(1.2);
    }

    &__imageBox{
        img {
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__textTitle{
        p{
            font-family: 'Lalezar', cursive;
            padding: 0.5rem;
        }
    }
}