
/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background: radial-gradient(circle, rgb(76 72 69) 0%, rgb(203 203 203) 0%, rgb(2 0 36 / 41%) 100%);    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;

    .contain{
        // background-color: purple;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  }
  .footer .col {

    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .footer .col h1 {
    font-family: 'Lalezar', cursive;
    font-size: 1.7rem;
    color: var(--official);
    font-weight: bold;
  }

  .footer .col ul li {
    font-family: 'Noto Naskh Arabic', serif;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    font-size: 1.2rem;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      // width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .footer .col {
      // width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  @media only screen and (min-width:994px){
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      display: flex;
      gap: 1.2rem;
  }
  }
  