.about_page{
    min-height: 70vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .accordion{
        width: 80%;
    }
    
}

.accordion-button{
    font-family: 'Noto Naskh Arabic', serif;
    font-size: x-large;
    background-color: var(--gray);
    padding: 1rem;
    border-bottom: 2px solid black;
    color: var(--official);
    font-weight: bold;
}

.accordion-body {
    font-family: 'Noto Naskh Arabic', serif;
    font-weight: bold;
}