.socialMedia {
    padding-right: 1rem;
    height: 45%;
    display: flex;

    &_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;

        svg {
            font-size: xxx-large;
            padding: 0.4rem;
           cursor: pointer;
           transition: all .4s cubic-bezier(0, 1.08, 0.69, 1.12);
        }

        svg:nth-child(1) {
            &:hover {
                color: green;
                transform: scale(1.7);
            }
        }
        svg:nth-child(2) {
            &:hover {
                color: red;
                transform: scale(1.7);
            }
        }
        svg:nth-child(3) {
            &:hover {
                color: blue;
                transform: scale(1.7);
            }
        }

    }
}